
.chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.legend-item-0 {
    padding: 0px !important;
    height: 30px;
}

@media screen and (max-width: 555px) {
    .chartMain {
        width: 300px;
    }
}