.signIn {
    width: 100vw;
    height: 672px;
    padding-top: 3rem;
    min-width: 100vw;
    color: rgb(168, 168, 168, 0%);
    background-image: linear-gradient(
        106.37deg,
        #0d3a8e 29.63%,
        #ffffff 51.55%,
        #3c3b3c 90.85%
    );
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.signInWrapper {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -1rem;
    background-image: url(./image/bg2.png);
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8hfPFX_-gfox2HvDSZJr7s1loGnWwgKAuYw&usqp=CAU/bg.png); */

}

.signInContainer {
    display: flex;
    justify-content: center;
}

.signInContent {
    width: 41.66667%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.signInHeader .signInTitle {
    margin-bottom: 2.5rem;
    font: 500 35px Trebuchet MS;
    color: rgb(168, 168, 168, 0%);
}

.signInHeader h4 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    
}

.signInHeader p {
    text-align: center;
    margin-bottom: 1.3rem;
}

.signInForm {
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255,32%);
    background-clip: border-box;
    border: 0 solid #f5f7fb;
    border-radius: .25rem;
}

.signInFormContainer {
    flex: 1 1 auto;
    padding: 3rem 2.3rem;
}

.signInForm label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
    color: #495057;
}

input {
    outline-width: 0;
    font: 400 15px Arial;
    /* border-radius: 5px; */
    padding: 5px;
    padding-left: 15px;
    color: #495057;
    height: 45px;
    width: 100%;
    display: inline;
}

.signInInput {
    background-color: rgba(230, 235, 245, 0)!important;
    border-bottom: 1px solid #000000;
    border-top: aqua;
    border-right: aqua;
    border-left: aqua;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    font: 400 14px Arial;
}

.signInBox div {
    margin-bottom: 1rem!important;
}
.iconSignin{
    font-size: 100%;
    display: inline;
    color: rgb(105 71 233);
    margin-block-end: -3.7rem;
    margin-inline-start: -0.9rem;}
span.spanSI {
    font-size: 15px;
    font-weight: 600;
    color: #888;
    margin-left: 0.25rem;
    display: inline;
}
.signInButton {
    border: 1px solid transparent;
    padding: .47rem .75rem;
    font-size: .9375rem;
    border-radius: .25rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: #fff;
    background-color: #7269ef;
    margin-top: 1.25rem;
    margin: auto;
    display: unset;
}

.signInButton:hover {
    color: #fff;
    background-color: #6159cb;
    border-color: #5b54bf;
    text-decoration: none;
    cursor: pointer;
}

a,
button {
    outline: none!important;
}

.signInFooter {
    text-align: center!important;
    margin-top: 2rem;
    color: rgb(105 71 233);
}

.signInFooter p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.signInFormContainer h4{
    text-align: center;
    font-size: 1rem;
    color:rgb(255, 0, 0) ;
}